<div class="float-img-container">
  <div class="float-img right vertical">
    <img src="http://ww2.hdnux.com/photos/54/11/64/11559395/3/2000x1000.jpg"></img>
    <div class="caption">caption caption. <span class="byline">Michael Macor, The Chronicle</span></div>
  </div>
</div>

<div class="float-img-container">
  <div class="float-img right">
    <img src="http://ww2.hdnux.com/photos/54/11/64/11559651/3/2000x1000.jpg"></img>
    <div class="caption">caption caption. <span class="byline">Michael Macor, The Chronicle</span></div>
  </div>
</div>

<div class="float-img-container">
  <div class="float-img right graphic">
    <img src="../assets/graphics/salmon_map.png">
    <div class="interactive-credit">
      <div class="entry">John Blanchard  &bull; <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a></div>
    </div>
  </div>
</div>

<div class="inline-img graphic">
  <div style="position: relative; padding-bottom: 56.25%; height: 0px;"><iframe src="//player.hearstdigitalstudios.com/580fa96be694aa429b2233a4?width=100%25&autostart=0&aratio=16:9&duration=&cc%5B%5D=" frameborder="0" allowfullscreen="true" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"></iframe></div>
  <div class="interactive-credit">
    <div class="entry">Underwater video taken at Van Damme State Park (Mendocino County) in August 2016 shows bare rock reef where there should be lots of bull kelp and other seaweed growing, which normally feed abalone and red sea urchin. Warm ocean temperatures and an invasion of purple sea urchin have decimated the kelp forest, leaving the abalone and red urchin starving.</div>
    <div class="entry padded">Video: Athena Maguire, California Department of Fish and Wildlife.</div>
  </div>
</div>
