<div class="float-img-container">
  <div class="float-img right vertical">
    <img src="http://ww2.hdnux.com/photos/54/11/64/11559395/3/2000x1000.jpg"></img>
    <div class="caption">caption caption. <span class="byline">Michael Macor, The Chronicle</span></div>
  </div>
</div>

<div class="float-img-container">
  <div class="float-img right">
    <img src="http://ww2.hdnux.com/photos/54/11/64/11559651/3/2000x1000.jpg"></img>
    <div class="caption">caption caption. <span class="byline">Michael Macor, The Chronicle</span></div>
  </div>
</div>
